.advantages 
	.advantages__box.box
		+advantage('advantage-1.svg', 'Долгосрочность', 'Даем знания, которые не забываются')
		+advantage('advantage-2.svg', 'Уверенность', 'Помогаем родителям быть спокойными за обучение их ребенка.')
		+advantage('advantage-3.svg', 'Уникальная методика', 'Новизна методики: так, как преподаем мы, не умеют другие')
		+advantage('advantage-4.svg', 'Выгода', 'Экономим деньги, время и нервы')