meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

// favicon
link(rel="icon", href="img/favicon.ico", type="image/x-icon")

// fontawesome
//- link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")

// fancybox v4.0.12
link(rel="stylesheet", href="css/fancybox.min.css")

// slick slider v1.8.1
link(rel="stylesheet", href="css/slick.css")
link(rel="stylesheet", href="css/slick-theme.css")

// bootstrap 5 v.5.0.2
link(rel="stylesheet", href="css/bootstrap.min.css")

// animate css v4.1.1
link(rel="stylesheet", href="css/animate.min.css")

// custom styles
link(rel="stylesheet", href="css/main.css")