section.home
	img.home__bg.visible-768(src="img/home-bg.png", alt="home-bg")
	.home__box.box
		.home__content 
			p.home__text.hidden-768 Образовательный центр для школьников и дошкольников.
			p.home__text.visible-768 Образовательный центр для школьников и дошкольников, в котором детям комфортно учиться, а родители уверены в качестве их образования.
			p.home__text.hidden-768 Сочетаем проверенную временем методику: методика погружения с элементами резонансной практики. 
			p.home__text.hidden-768 Благодаря такой методике детям комфортно учиться, а родители уверены в качестве их образования.
			.home__buttons 
				button.watch-video.visible-768 
					| посмотреть видео
					img(src="img/watch-video-arrow.svg", alt="watch-video-arrow")
				.buttons
					button.button.buttons__item Записаться на открытый урок
					button.buttons__item--transparent Узнать больше
		.home__video.video 
			img.video__bg(src="img/video-bg.webp", alt="video")
			a.video__box(data-fancybox href="img/Катя_рассказывает.mp4")
				img.video__play(src="img/video-play.svg", alt="video-play")



