section.home 
	.home__box
		.home__content 
			h1.home__title way forward
			p.home__text Образовательный центр для школьников и дошкольников. 
			p.home__text Сочетаем проверенную временем методику: методика погружения с элементами резонансной практики. 
			p.home__text Благодаря такой методике детям комфортно учиться, а родители уверены в качестве их образования.
			.home__buttons 
				button.button.home__button Записаться на открытый урок
				button.home__button--transparent Узнать больше
		.home__video.video 
			img.video__bg(src="img/video-bg.webp", alt="video")
			.video__box 
				iframe(src='https://www.youtube.com/embed/oGi8Z3W2AYo' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
	.home__sales.sales
		h2.sales__title Акции
		.slider
			.slider__carousel
				.slide 
					b.slide__title Только до 31 января
					p.slide__text При покупке курса “Дошкольное образование”  дарим занятие по раннему музыкальному развитию
					a.slide__link(href="") Подробнее...
				.slide 
					b.slide__title Только до 5 февраля
					p.slide__text Скидка 20% при покупке курса Подготовка к школе
					a.slide__link(href="") Подробнее...


