section.metodic 
	img.stamp-9.visible-768(src="img/stamp.svg", alt="stamp")
	img.stamp-10.visible-768(src="img/stamp.svg", alt="stamp")
	img.stamp-11.visible-768(src="img/stamp.svg", alt="stamp")
	h3.metodic__title.title Преимущества нашей методики
	.metodic__box.box
		img.metodic__decor(src="img/metodik-bg.png", alt="bg")
		.metodic__slider.slider-metodic
			article.slider-metodic__item.metod
				.metod__head 
					img.metod__icon(src="img/metodik-icon-1.svg", alt="metodic-icon")
					h6.metod__name.title Лучшие практики
				p.metod__description Way Forward использует опыт лучших российских и зарубежных практик и реализует самые современные подходы к образованию. Наш метод - метод погружения в предмет в сочетании с пространственным моделированием, уникален тем, что обучение становится для ученика не мучением, а удовольствием.
				button.metod__button.button Записаться на открытый урок
			article.slider-metodic__item.metod 
				.metod__head 
					img.metod__icon(src="img/metodik-icon-2.svg", alt="metodic-icon")
					h6.metod__name.title Индивидуальный подход
				p.metod__description 
					| В WF нет оценок и соревновательной практики между учениками.  
					br
					|У школьника формируется целостный взгляд на изучаемый предмет, исчезают пробелы в знаниях. Такой вид обучения дает глубокое и долговременное запоминание. Занятия проходят в онлайн и оффлайн формате. Посмотрите видео урока, чтобы получить полное представление о наших методах.
				a.metod__video(data-fancybox href="img/Катя_рассказывает.mp4") 
					| посмотреть видео
					img(src="img/video-play.svg", alt="play")
			article.slider-metodic__item.metod 
				.metod__head 
					img.metod__icon(src="img/metodik-icon-3.svg", alt="metodic-icon")
					h6.metod__name.title Годовая программа за 7 дней
				p.metod__description Ребенок за неделю может освоить материал по предмету, который по школьной программе изучается целый год. Обучаясь по методике погружения, у ребенка появляется возможность для всестороннего развития и поступления в лучшие университеты мира.
				button.metod__button.metod__button--blue.button Остались вопросы? Напишите нам!