section.mission 
	.mission__box.box 
		img.mission__img(src="img/mission.png", alt="mission")
		.mission__info 
			h2.mission__title.title Наша миссия - 
			p.mission__text 
				| Научить человека видеть целостную картину предмета и за короткий срок изучить всю школьную программу, грамотно использовать свои ресурсы в получении знаний. Мы считаем, что ребенку должно нравится то, чем он занимается, что изучает и мы стремимся чтобы каждая дисциплина вызывала интерес. 
				br
				br
				| Наш центр не имеет аналогов в России - это своего рода школа без минусов классического образования. Мы не понаслышке знаем, что многих родителей не устраивает низкое качество обучения; неблагоприятная атмосфера в классе и дома, из-за невыполненного домашнего задания; безразличие и подавление преподавателями личности ребёнка во многих школах. И на примере наших выпускников и учеников показываем, что учеба - это не скучно, что это интересно.
