section.orientation 
	.orientation__box.box 
		h4.orientation__title.title Для кого наши курсы?
		#orientation-tabs.tabs 
			.tabs__header
				button.tabs__button Дошкольники
				button.tabs__button Школьники
				button.tabs__button Подготовка к ОГЭ, ЕГЭ
				button.tabs__button Взрослые
			.tabs__contents 
				img.stamp.stamp-1(src="img/stamp.svg", alt="stamp")
				img.stamp.stamp-2(src="img/stamp.svg", alt="stamp")
				img.stamp.stamp-3(src="img/stamp.svg", alt="stamp")
				img.stamp.stamp-4(src="img/stamp.svg", alt="stamp")
				img.stamp.stamp-5(src="img/stamp.svg", alt="stamp")
				img.stamp.stamp-6(src="img/stamp.svg", alt="stamp")
				img.stamp.stamp-7(src="img/stamp.svg", alt="stamp")
				img.stamp.stamp-8(src="img/stamp.svg", alt="stamp")
				.tabs__content
					.orientation__slider.slider-orientation
						.slider-orientation__carousel
							.slide
								h6.slide__title Раннее музыкальное развитие
								span.slide__text с 2,5-5 лет
								ul.slide__list 
									li.slide__item изучение нот
									li.slide__item ритмические упражнения
									li.slide__item логоритмика
									li.slide__item музыкальная литература
									li.slide__item оркестровое изучение
								p.slide__info  Скидка 50% на первое занятие
								a.slide__link Подробнее... 
								button.slide__button.button Записаться
							.slide
								h6.slide__title Резонансный голос
								span.slide__text с 6 лет
								ul.slide__list 
									li.slide__item решение проблем с речью
									li.slide__item постановка тела и органов дыхания
									li.slide__item снятие психологических зажимов
									li.slide__item формирование голоса
								p.slide__info  Первое занятие бесплатно!
								a.slide__link Подробнее... 
								button.slide__button.button Записаться
							.slide
								h6.slide__title Подготовка к школе
								span.slide__text с 5-6 лет
								ul.slide__list 
									li.slide__item Математика и логика
									li.slide__item Грамматика
									li.slide__item Мир вокруг нас
									li.slide__item Искусство и творчество
									li.slide__item 3 месяца, 1 раз в неделю, 5 уроков
								p.slide__info  Подарок при покупке курса!
								a.slide__link Подробнее... 
								button.slide__button.button Записаться
							//- .slide
							//- 	h6.slide__title Подготовка к школе
							//- 	span.slide__text с 5-6 лет
							//- 	ul.slide__list 
							//- 		li.slide__item Математика и логика
							//- 		li.slide__item Грамматика
							//- 		li.slide__item Мир вокруг нас
							//- 		li.slide__item Искусство и творчество
							//- 		li.slide__item 3 месяца, 1 раз в неделю, 5 уроков
							//- 	p.slide__info  Подарок при покупке курса!
							//- 	a.slide__link Подробнее... 
							//- 	button.slide__button.button Записаться
								
				.tabs__content
					| 1234
				.tabs__content
					| asdfasdf
				.tabs__content
					| 12341234