section.sales
	.sales__box.box
		h2.sales__title Акции
		.sales__slider.slider-sales
			.slider-sales__carousel
				.slide
					b.slide__title Только до 31 января
					p.slide__text При покупке курса “Дошкольное образование” дарим занятие по раннему музыкальному развитию
					a.slide__link(href="") Подробнее...
				.slide 
					b.slide__title Только до 5 февраля
					p.slide__text Скидка 20% при покупке курса Подготовка к школе
					a.slide__link(href="") Подробнее...
			.slider-sales__buttons 
				button.prev 
					img(src="../img/arrow-slider-button.svg", alt="")
				button.next 
					img(src="../img/arrow-slider-button.svg", alt="")