section.sales
	.sales__box.box
		h2.sales__title Акции
		.sales__slider.slider-sales
			.slider-sales__carousel
				.slide
					img.slide__decor(src="img/sales-slide-1.png", alt="slide-decor")
					b.slide__title Дарим урок по Раннему музыкальному развитию
					p.slide__text до 31 января
					a.slide__link(href="") Подробнее...
				.slide
					img.slide__decor(src="img/sales-slide-2.png", alt="slide-decor")
					b.slide__title Скидка 20% при покупке курса Подготовка к школе
					p.slide__text до 5 февраля
					a.slide__link(href="") Подробнее...
				.slide 
					b.slide__title Скидка 20% при покупке курса Подготовка к школе
					p.slide__text до 5 февраля
					a.slide__link(href="") Подробнее...