//- section#section1.main 
//- 	.container 
//- 		.row 
//- 			.col 
//- 				main.main__box
//- 					h1 Almost before we knew
//- 				a(data-fancybox href="https://www.ixbt.com/img/n1/news/2021/10/4/The-Elder-Scrolls-V-Skyrim-Anniversary-Edition-Launch-trailer_large.jpg") 
//- 					img(src="https://www.ixbt.com/img/n1/news/2021/10/4/The-Elder-Scrolls-V-Skyrim-Anniversary-Edition-Launch-trailer_large.jpg", alt="")
//- 				a(data-fancybox href="https://cubiq.ru/wp-content/uploads/2019/09/skyrime.jpg") 
//- 					img(src="https://cubiq.ru/wp-content/uploads/2019/09/skyrime.jpg", alt="")
//- 				.phones.animate__animated.animate__bounce
//- 					p phones
//- 					input.phone(type="text")
//- 					input.phone(type="text")
//- 				.mails
//- 					p emails
//- 					input.email(type="text")
//- 					input.email(type="text")
//- 				.dates 
//- 					p dates 
//- 					input.date(type="text")
//- 					input.date(type="text")
//- 				.slider 
//- 					img(src="https://www.ixbt.com/img/n1/news/2021/10/4/The-Elder-Scrolls-V-Skyrim-Anniversary-Edition-Launch-trailer_large.jpg", alt="")
//- 					img(src="https://cubiq.ru/wp-content/uploads/2019/09/skyrime.jpg", alt="")
//- 					img(src="https://www.ixbt.com/img/n1/news/2021/10/4/The-Elder-Scrolls-V-Skyrim-Anniversary-Edition-Launch-trailer_large.jpg", alt="")
//- 					img(src="https://cubiq.ru/wp-content/uploads/2019/09/skyrime.jpg", alt="")