section.steps 
	h5.steps__title.title Как мы работаем ?
	.steps__box.box 
		article.step
			.step__num 01
			img.step__img(src="img/step-1.webp", alt="step")
			.step__info 
				h6.step__title Формируем базу с нуля
				p.step__text Вне зависимости от уровня подготовки по предмету, ребенок полностью погружается в дисциплину и получает 100% знаний по нему. Такой подход позволяет сократить время на изучение предмета. На выходе получаете знания, которые не забываются
		article.step
			.step__num 02
			img.step__img(src="img/step-2.webp", alt="step")
			.step__info 
				h6.step__title Помогаем обрести уверенность
				p.step__text Классическое школьное образование сегодня во многом способствует ребенку потерять уверенность в себе. В нашем центре мы работаем с учениками практически индивидуально, благодаря чему прорабатываются все комплексы и страхи ребенка. 
		article.step
			.step__num 03
			img.step__img(src="img/step-3.webp", alt="step")
			.step__info 
				h6.step__title Комплексно развиваем личность
				p.step__text Педагогическая концепция WF такова, что мы наблюдаем, поддерживаем и помогаем детям наладить все процессы развития творческой, физической и самостоятельной личности. 
		article.step
			.step__num 04
			img.step__img(src="img/step-4.webp", alt="step")
			.step__info 
				h6.step__title Достигаем успеха вместе
				p.step__text Каждый ребенок уникален. И мы ставим это в основу нашей практики. Мы не делаем громких заявлений, а просто работаем на результат и он неизбежен. За один курс погружения в предмет, у ребёнка появляется возможность овладеть знаниями по дисциплине глубоко и с особенной точностью.