section.team 
	.team__box.box
		h4.team__title.title Команда WAY FORWARD
		p.team__tagtitle У нас работают опытные учителя, психологи и методисты – специально подобранная под методику погружения педагогическая команда. Мы стремимся дать знания нашим ученикам очень гармоничным и логичным методом. Преподавание в WF заключается в том, чтобы донести каждый предмет целостно через поэтапное и полноценное изучение. 
		.team__slider.slider-team 
			.slider-team__carousel 
				.slider-team__item.worker 
					.worker__present 
						figure.worker__foto 
							img(src="img/teacher-1.webp", alt="teacher")
						.worker__info
							p.worker__name Торганова Мария Ивановна
							p.worker__val Русский язык и литература
							p.worker__val Средняя школа
					.worker__title О методе погружения:
					blockquote.worker__text
						| “Если честно, я сама увидела глубину предмета только работая по этой методике. До этого русский был списком тем, как-то связанных между собой. 
						br
						| Сейчас передо мной целостная наука, гармоничная и логичная. 
						br
						| Именно погружение помогает увидеть предмет целостно через поэтапное и полноценное изучение разделов.”
				.slider-team__item.worker 
					.worker__present 
						figure.worker__foto 
							img(src="img/teacher-1.webp", alt="teacher")
						.worker__info
							p.worker__name Торганова Мария Ивановна
							p.worker__val Русский язык и литература
							p.worker__val Средняя школа
					.worker__title О методе погружения:
					blockquote.worker__text
						| “Если честно, я сама увидела глубину предмета только работая по этой методике. До этого русский был списком тем, как-то связанных между собой. 
						br
						| Сейчас передо мной целостная наука, гармоничная и логичная. 
						br
						| Именно погружение помогает увидеть предмет целостно через поэтапное и полноценное изучение разделов.”
				.slider-team__item.worker 
					.worker__present 
						figure.worker__foto 
							img(src="img/teacher-1.webp", alt="teacher")
						.worker__info
							p.worker__name Торганова Мария Ивановна
							p.worker__val Русский язык и литература
							p.worker__val Средняя школа
					.worker__title О методе погружения:
					blockquote.worker__text
						| “Если честно, я сама увидела глубину предмета только работая по этой методике. До этого русский был списком тем, как-то связанных между собой. 
						br
						| Сейчас передо мной целостная наука, гармоничная и логичная. 
						br
						| Именно погружение помогает увидеть предмет целостно через поэтапное и полноценное изучение разделов.”
