section.teachers 
	.teachers__box.box
		h6.teachers__title.title Наши преподаватели
		p.teachers__tagtitle У нас работают только самые лучшие преподаватели. Мы делаем всё, чтобы процесс обучения был максимально комфортным.
		.teachers__items 
			+teacher('teacher-1.webp', 'Торганова Мария Ивановна', 'Русский язык и литература', 'Средние классы')
			+teacher('teacher-2.webp', 'Карпенкова Дарья', 'Химия, биология', 'Старшие и средние классы')
			+teacher('teacher-3.webp', 'Борисова Альбина', 'Русский и литература', 'Начальные классы')
			+teacher('teacher-4.webp', 'Евдокимова Анастасия', 'Математика, физика', 'Старшие и средние классы')