.home
	padding: 10rem 21rem 0 22.8rem
	&__box
		display: flex
		align-items: flex-end
	&__content
		width: 31.5rem
	&__title
		margin: 0 0 0.6rem 0
		font-size: 4rem
		font-weight: 700
		color: $titles-color
		text-transform: uppercase
	&__text
		margin: 0 0 1.4rem 0
		font-size: $px22
	&__buttons
		display: flex
		align-items: center
		margin: 2.2rem 0 0 0
	&__button
		margin: 0 0.6rem 0 0
		&--transparent
			display: flex
			align-items: center
			justify-content: center
			width: 11.7rem
			height: 3.3rem
			font-size: $px14
			font-weight: 700
			color: $titles-color
			border: 1px solid $titles-color
			border-radius: 5px
	&__video
	&__sales
		.slider
			&__carousel
				.slide
					&__title
					&__text
					&__link

.video
	position: relative
	padding: 0 0 0 15.5rem
	&__bg
		position: absolute
		z-index: -1
		width: 48.6rem
		top: -8.5rem
		right: -10rem
	&__box
		width: 20.44rem
		height: 20.44rem
		border-radius: 50%
		overflow: hidden
		iframe
			width: 100%
			height: 100%

.sales
	&__title
		font-size: $px36
		font-weight: 700
		color: $main-color



