<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Way Forward | Главная
	body
		//- mixins
		include ./../mixins/_advantage.pug
		include ./../mixins/_teacher.pug
		include ./../mixins/_mixin3.pug
		include ./../mixins/_mixin4.pug
		include ./../mixins/_mixin5.pug
		// ======================================== HEADER
		include ./../sections/_header.pug
		// ======================================== HOME
		include ./../sections/_home.pug
		// ======================================== АКЦИИ 
		include ./../sections/_sales.pug
		// ======================================== НАШИ ПРОГРАММЫ
		include ./../sections/_programms.pug
		// ======================================== ПРЕИМУЩЕСТВА
		include ./../sections/_advantages.pug
		// ======================================== ДЛЯ КОГО НАШИ КУРСЫ
		include ./../sections/_orientation.pug
		// ======================================== КАК МЫ РАБОТАЕМ
		include ./../sections/_steps.pug
		// ======================================== НАШИ ПРЕПОДАВАТЕЛИ
		include ./../sections/_teachers.pug
		// ======================================== ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
		include ./../sections/_faq.pug
		// ======================================== КАК НАС НАЙТИ
		include ./../sections/_contacts.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug


